<div ng-controller="requestController" class="request">

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <input class="col-sm-6 col-md-4" ng-model="request.min" type="number" id="min" placeholder="min number">
            <input class="col-sm-6 col-md-4" ng-model="request.max" type="number" id="max" placeholder="max number">
        </div>
    </div>

    <div ng-repeat="part in request.parts">
        <div class="input-group col-sm-5 col-md-3">
            <ui-select allow-clear multiple ng-model="request.parts[$index].operations">
                <ui-select-match placeholder="operation">
                    {{$item}}
                </ui-select-match>
                <ui-select-choices repeat="operation in (operations | filter: $select.search) track by operation">
                    <span ng-bind="operation"></span>
                </ui-select-choices>
            </ui-select>
            <div ng-if="request.parts[$index].operations && request.parts[$index].operations.indexOf('/') != -1">
                <label for="easy">Allow only natural numbers</label>
                <input id="easy" type="checkbox" ng-model="request.parts[$index].naturalNumber">
            </div>
            <span class="input-group-btn">
                <button type="button" ng-click="request.parts[$index].operations = undefined" class="btn btn-default">
                <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <input class="col-sm-6 col-md-4" ng-model="request.parts[$index].min" type="number" id="parts-{{$index}}-min"
                       placeholder="min number">
                <input class="col-sm-6 col-md-4" ng-model="request.parts[$index].max" type="number" id="parts-{{$index}}-max"
                       placeholder="max number">
            </div>
        </div>
        <button ng-if="$index > 0" class="btn btn-warning" ng-click="remove($index)">Remove</button>
        <div></div>
        <br>
    </div>

    <button class="btn btn-info" ng-click="add()">Add More</button>

    <div class="input-group col-sm-12 col-md-8">
        <input class="col-sm-6 col-md-4" ng-model="request.lines" type="number" id="lines" placeholder="number of lines">
    </div>

    <br>
    <div class="input-group col-sm-12 col-md-8">
        <input class="col-sm-6 col-md-4" ng-model="password" type="password" id="password" placeholder="psw">
    </div>
    <br>
    <div>
        <button class="btn btn-danger" ng-click="clear()">Clear</button>
        <button class="btn btn-success" ng-click="calculate()">Calculate</button>
    </div>
</div>