<div ng-controller="resultController">
    <div class="request col-sm-12">
        <h3>Request</h3>
        <div>Operations: {{blueprint}}</div>
        <div>Lines: {{request.lines}}</div>
    </div>
    <div class="result col-sm-12">
        <h3>Result:</h3>
        <div ng-repeat="line in result" class="col-sm-12" style="display:inline-flex; font-size:1.5em">
            <div class="col-sm-1">{{$index + 1}})</div>
            <div ng-repeat="node in line.expression track by $index">
                {{node}}&nbsp
            </div>
            <div class="col-sm-1">= </div>
            <div class="col-sm-1 hidden answer">{{line.result}}</div>
        </div>
    </div>
    <br>
    <div class="input-group col-sm-12 col-md-8">
        <input class="col-sm-6 col-md-4" ng-model="password" type="password" id="password" placeholder="psw">
    </div>
    <button class="btn btn-default" ng-click="back()">Back</button>
    <button class="btn btn-warning check_answer" ng-click="checkAnswer()">Check Answer</button>
    
</div>